
@{
	    ViewBag.Title = "Order Book";
}

<h2>Order Book</h2>
	<form method="post" action="">
		<input type="hidden" value="@ViewBag.BookId" name="BookId" />
		<table>
			<tr><td><p>Enter Your NickName: </p></td>
				<td><input type="text" name="NickName" /> </td></tr>
			<tr><td><p>Enter Your Email :</p></td><td> 
				<input type="text" name="Email" /> </td></tr>
			<tr><td><input id="buyButton" type="submit" value="Order" /> </td><td></td></tr>
		</table>
	</form>
